<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'userapp/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
      register
    </h1>
    <div class="user">

    <form class="register" action="{% url 'user:register' %}" method="post">
      {% csrf_token %}
        <input type="text" name="f_name" placeholder="First_Name">
        <input type="text" name="l_name" placeholder="last_name">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="addr" placeholder="street address">
        <input type="text" name="apt" placeholder="appartment/House Number">
        <input type="text" name="city" placeholder="city">
        <input type="text" name="state" placeholder="state">
        <input type="text" name="zipcode" placeholder="zipcode">
        <input type="tel" name="phone" placeholder="phone number">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="cpassword" placeholder="confirm Password">
        <input type="submit" value="Register">
    </form>

    <form  action="{% url 'user:code' %}" method="post">
      {% csrf_token %}
      <input type="text" name="code">
      <input type="submit" value="Enter the verification code">

    </form>
    {% if messages %}
   <ul class="messages">
     {% for message in messages %}
     <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
     {% endfor %}
   </ul>
   {% endif %}
    </div>
  </body>
</html>
